<tmpl_include name="header_project.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_project.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>PROJECTS: Active Clients for <tmpl_if name="employee"><tmpl_var name="employee"><tmpl_else>all employees</tmpl_if>: <tmpl_var name="number_of_clients_requested"> clients requested</h1>

<p>Note: this is based on activity on action items in the PMT database.</p>

<form type="GET" action="home.pl">
  <input type="hidden" name="mode" value="active_clients_report">
  Employee to show clients for:
  <select class="xmedium" name="employee">
    <option value="all"<tmpl_if name="all_selected"> selected="selected"</tmpl_if>>All Employees</option>
    <tmpl_loop name="users"><tmpl_include name="options_loop.tmpl"></tmpl_loop>
  </select>
  <br/>
  Maximum number of clients to display: <input type="text" size="2" name="clients" value="<tmpl_var name="number_of_clients_requested">"> <input type="submit" value="Go!">
</form>
 
<table cellpadding="0" cellspacing="0" class="itemlisting" id="table1" onclick="sortColumn(event)">
<thead>
<tr>
<th class="firstcell">Last name</th>
<th>First name </th>
<th>Latest activity</th>
<th>School</th>
<th>Department</th>
<th>Registered on</th>
<th>Contact</th>
</tr>
</thead>

<tbody>
<tmpl_loop name="clients">
<tr>
<td><a href="home.pl?mode=client;client_id=<tmpl_var name="client_id" escape="url">"><tmpl_var name="lastname"></a></td>
<td><a href="home.pl?mode=client;client_id=<tmpl_var name="client_id" escape="url">"><tmpl_var name="firstname"><a></td>
<td><tmpl_var name="date"></td>
<td><a href="home.pl?mode=client_search;school=<tmpl_var name="school" escape="url">"><tmpl_var name="school" escape="html"></a></td>
<td><a href="home.pl?mode=client_search;department=<tmpl_var name="department" escape="url">"><tmpl_var name="department" escape="html"></a></td>
<td><tmpl_var name="registration_date" escape="html"></td>
<td><a href="home.pl?mode=user;username=<tmpl_var name="contact" escape="url">"><tmpl_var name="contact_fullname" escape="html"></td>
</tr>
</tmpl_loop>
</tbody>

<tfoot>
<tr>
<!-- ## Closing row --><td colspan="7" class="end">&nbsp;</td>
</tr>
</tfoot>
</table>

</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->

<tmpl_include name="footer.tmpl">
