<tmpl_include name="header_clients.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_clients.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>CLIENTS: Add New Client<br />

<tmpl_unless name="client_email">
<!-- form to enter email address -->

<span class="hide">CLIENTS:</span> &#62; Client's E-mail</h1>

<form action="/home.pl" method="GET">
<input type="hidden" name="mode" value="add_client_form"/>
<table cellpadding="0" cellspacing="0" class="pmtform" style="width: 500px;">
<tr>
<th class="firstcell"><label for="email">client email address:</label></th>
<td>
<input class="textform" type="text" name="client_email" size="25" id="email" /><br /><br />
<i>(Don't know the client's e-mail address? Go to <a href="http://www.columbia.edu/cgi-bin/lookup.pl" target="_blank">Columbia
Directory Search</a>.)</i>
</td>
</tr>
<tr>
<!-- ## Submit button --><td colspan="2" class="firstcell" align="center"><input type="submit" class="button" value="CONTINUE" /></td>
</tr>

<tr>
<!-- ## Closing row --><td colspan="2" class="end">&nbsp;</td>
</tr>
</table>
</form>


<tmpl_else>
<span class="hide">CLIENTS:</span> &#62; Client's Information</h1>
<!-- form filled in with data from LDAP -->
<tmpl_if name="existing_clients">
<p><b>WARNING!</b> the following client(s) were found that have a
similar name or uni. please make sure that you are not entering a
duplicate.</p>

<table cellpadding="0" cellspacing="0" class="itemlisting" style="width: 700px;">
<thead><tr>
<th class="firstcell">client:</th>
<th>email:</th>
<th>school:</th>
<th>department:</th>
<th>contact:</th>
</tr>
</thead>
<tbody>
<tmpl_loop name="existing_clients">
<tr>
<td class="firstcell"><a href="/home.pl?mode=client;client_id=<tmpl_var name="client_id"
escape="url">"><tmpl_var name="firstname" escape="html"> <tmpl_var
name="lastname" escape="html"></a></td>
<td><tmpl_var name="email" escape="html"></td>
<td><tmpl_Var name="school" escape="html"></td>
<td><tmpl_var name="department" escape="html"></td>
<td><tmpl_Var name="contact_fullname" escape="html"></td>
</tr>
</tmpl_loop>
</tbody>
	<tfoot>
<tr>
<!-- ## Closing row --><td colspan="5" class="end">&nbsp;</td>
</tr>
	</tfoot>
</table>
<br />
</tmpl_if>

<form action="/home.pl" method="POST">
<input type="hidden" name="mode" value="add_client" />

<table cellpadding="0" cellspacing="0" class="pmtform" style="width: 650px;">

<tr>
<th class="firstcell">last name:</th>
<td><input class="textform" size="30" type="text" name="lastname" value="<tmpl_var name="lastname" escape="html">" /></td></tr>
<tr>
<th class="firstcell">first name:</th>
<td><input class="textform" size="30" type="text" name="firstname" value="<tmpl_var name="firstname" escape="html">" /></td></tr>
<tr>
<th class="firstcell">title:</th>
<td><input class="textform" size="30" type="text" name="title" value="<tmpl_var name="title" escape="html">" /></td></tr>

<tr><th class="firstcell">status:</th><td>
<select class="small" name="status">
<option value="active"<tmpl_if name="active"> selected="selected"</tmpl_if>>active</option>
<option value="inactive"<tmpl_if name="inactive"> selected="selected"</tmpl_if>>inactive</option>
<option value="potential"<tmpl_if name="potential"> selected="selected"</tmpl_if>>potential</option>
<option value="not interested"<tmpl_if name="not interested"> selected="selected"</tmpl_if>>not interested</option>
</select>
</td></tr>

<tr>
<th class="firstcell">department:</th>
<td>
<select class="big" name="department">
<tmpl_loop name='departments_select'><tmpl_include name="options_loop.tmpl">
</tmpl_loop>
</select>
<tmpl_if name="ou">(LDAP returned: <tmpl_var name="ou" escape="html">)</tmpl_if>
</td></tr>

<tr>
<th class="firstcell">school:</th>
<td>
<select class="big" name="school">
<tmpl_loop name='schools_select'><tmpl_include
name="options_loop.tmpl"></tmpl_loop></select>
</tr>

<th class="firstcell">additional affiliations:</th>
<td><input class="textform" size="40" type="text" name="add_affiliates" /></td></tr>
<tr>
<th class="firstcell">client since:</th>
<td>
<input class="textform" type="text" name="registration_date" value="<tmpl_var
name="year" escape="html">-<tmpl_var name="month"
escape="html">-<tmpl_var name="day" escape="html">"
onclick="getCalN(this,2)" size="15" />
</td></tr>
<tr>
<th class="firstcell">phone:</th>
<td><input class="textform" size="30" type="text" name="phone" value="<tmpl_var name="phone" escape="html">" /></td></tr>
<tr>
<th class="firstcell">email:</th>
<td><input class="textform" size="30" type="text" name="client_email" value="<tmpl_var name="client_email" escape="html">" /></td></tr>
<tr>
<th class="firstcell">CCNMTL contact:</th>
<td><select class="xmedium" name="contact">
<tmpl_loop name="users_select"><tmpl_include name="options_loop.tmpl"></tmpl_loop>
</select></td></tr>
<tr>
<th class="firstcell">comments:</th>
<td><textarea class="textform" name="comments" cols="40" rows="10"
wrap="virtual"></textarea></td></tr>


<tr>
<!-- ## Submit button --><td colspan="2" class="firstcell" align="center"><input type="submit" class="button" value="ADD CLIENT" /></td>
</tr>

<tr>
<!-- ## Closing row --><td colspan="2" class="end">&nbsp;</td>
</tr>
</table>
</form>
</tmpl_unless>


</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->

<tmpl_include name="footer.tmpl">
