<html><head><title>create a user account</title>
	<link rel="stylesheet" href="/style/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/style/local.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/style/print.css" type="text/css" media="print" />
</head>
<body>
<h1>create a new user account</h1>
<form action="/add_user.pl" method="POST">
<table>
<tr><th>username</th><td><input name="username" type="text" /></td></tr>
<tr><th>password</th><td><input name="password" type="password" /></td></tr>
<tr><th>verify password</th><td><input name="pass_ver" type="password" /></td></tr>
<tr><th>full name</th><td><input name="fullname" type="text" /></td></tr>
<tr><th>email</th><td><input name="email" type="text" /></td></tr>
<tr><td colspan="2"><input type="submit" value="create user account" /></td></tr>
</table>
</form>
</body>
</html>
