<tmpl_include name="header.tmpl">

<h1><tmpl_var name="name"></h1>
<tmpl_var name="description">
<table>
<tr><th>caretaker</th><td><tmpl_var name="fullname"></td></tr>
<tr><th>managers</th><td><tmpl_loop name="managers">
<tmpl_var name="fullname"></tmpl_loop>
</td></tr>
<tmpl_if name="developers"><tr><th>developers</th><td>
<tmpl_loop name="developers"><tmpl_var name="fullname">
</tmpl_loop></td></tr></tmpl_if>
<tmpl_if name="guests"><tr><th>guests</th><td>
<tmpl_loop name="guests"><tmpl_var name="fullname">
</tmpl_loop></td></tr></tmpl_if>
</table>
[<a href="project_cal.pl?pid=<tmpl_var name="pid">&amp;month=<tmpl_var name="month">&amp;year=<tmpl_var name="year">">calendar view of target dates</a>]

<table>
<tmpl_loop name="milestones">
<tr><th colspan="3"><a href="admin_view.pl?mid=<tmpl_var name="mid">"><tmpl_var name="name"></a></th><th colspan="3"><tmpl_var name="target_date"></th>
<td colspan="2" class="<tmpl_var name="status">"><tmpl_var name="status"></td>
</tr>
<tmpl_if name="items">
<tr><th>item</th><th>status</th><th>priority</th>
<th>target date</th><th>owner</th><th>assigned to</th>
<th>last modified</th></tr>
<tmpl_loop name="items">
<tr><td class="<tmpl_var name="type_class">"><a
href="admin_view.pl?iid=<tmpl_var name="iid">"><tmpl_var name="type">
#<tmpl_var name="iid"> <tmpl_var name="title"></a></td>
<td class="<tmpl_var name="status">"><tmpl_var name="status">
<tmpl_if name="r_status">(<tmpl_var name="r_status">)</tmpl_if>
</td>
<td class="pr<tmpl_var name="priority">"><tmpl_var name="priority"></td>
<td><tmpl_var name="target_date"></td>
<td><tmpl_var name="owner_fullname"></td>
<td><tmpl_var name="assigned_to_fullname"></td>
<td><tmpl_var name="last_mod"></td>
</tmpl_loop>
</tmpl_if>
</tmpl_loop>
</table>
<tmpl_include name="footer.tmpl">
