<tmpl_include name="header.tmpl">
<h2><tmpl_var name="name"></h2>
<tmpl_Var name="description">
<br /><b>target date:</b> <tmpl_var name="target_date">
<table>
<tmpl_if name="items">
<tr><th>item</th><th>status</th><th>priority</th>
<th>target date</th><th>owner</th><th>assigned to</th>
<th>last modified</th></tr>
<tmpl_loop name="items">
<tr><td class="<tmpl_var name="type_class">"><a
href="admin_view.pl?iid=<tmpl_var name="iid">"><tmpl_var name="type">
#<tmpl_var name="iid"> <tmpl_var name="title"></a></td>
<td class="<tmpl_var name="status">"><tmpl_var name="status">
<tmpl_if name="r_status">(<tmpl_var name="r_status">)</tmpl_if>
</td>
<td class="pr<tmpl_var name="priority">"><tmpl_var name="priority"></td>
<td><tmpl_var name="target_date"></td>
<td><tmpl_var name="owner_fullname"></td>
<td><tmpl_var name="assigned_to_fullname"></td>
<td><tmpl_var name="last_mod"></td>
</tmpl_loop>
</tmpl_if>
</table>
<tmpl_include name="footer.tmpl">
