<tmpl_include name="header_items.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_items.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>TAGS: All Tags</h1>
<h1 class="print">Tags for Everyone</h1>

<p><tmpl_loop name="tags"><a href="/home.pl?mode=tag;tag=<tmpl_var
name="tag" escape="url">" class="cloud-level<tmpl_var name="level" escape="url">"><tmpl_var name="tag"
escape="html"></a> | </tmpl_loop>
</p>


</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
