<tmpl_include name="header_project.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_project.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">
<tmpl_if name="message">
<div id="message"><tmpl_var name="message" escape="html"></div>
</tmpl_if>

<h1>
    CHANGE PROJECT FOR ITEM <a href="/item/<tmpl_var name="iid">/">#<tmpl_var name="iid"> <tmpl_var name="title" escape="html"></a><br />
</h1>

<p>Changing to Project: <a href="/home.pl?mode=project;pid=<tmpl_var name="new_pid">"><tmpl_var name="new_project"></a>. 
(Previous Project was: <a href="/home.pl?mode=project;pid=<tmpl_var name="pid">"><tmpl_var name="project"></a>)</p>

<form action="/home.pl" method="POST">
<input type="hidden" name="mode" value="change_item_project_review" />
<input type="hidden" name="iid" value="<tmpl_var name="iid">" />
<input type="hidden" name="new_pid" value="<tmpl_var name="new_pid">" />

<h2>Step 2/3: Select a Milestone from <tmpl_var name="new_project">:</h2> 
<select class="big" name="new_mid">
<tmpl_loop name="new_milestone_select">
    <option value="<tmpl_var name="value" escape="html">"<tmpl_if name="selected"> selected="selected"</tmpl_if>><tmpl_var name="label" escape="html"></option>
</tmpl_loop>
</select>


<p>-OR-</p>

<h2>Create a NEW Milestone:</h2>
<table cellpadding="0" cellspacing="0" class="pmtform" style="width: 650px;">
<tr><th class="firstcell">milestone name:</th><td><input type="text" class="textform" name="new_milestone_name"
size="40" /></td></tr>
<tr><th class="firstcell">target date:</th><td><input type="text" id="datebox" class="textform"
name="new_milestone_date" size="15" value="" onclick="javascript:NewCal('datebox','yyyymmdd')"
/> <a href="javascript:NewCal('datebox','yyyymmdd')"><i>select date</i></a>
</td></tr>
<tr><th class="firstcell">description:<br />(accepts HTML)</th><td>
<textarea class="textform" name="new_milestone_description"
wrap="virtual" cols="40" rows="8"></textarea>
</td></tr>

<tr>
<!-- ## Closing row --><td colspan="2" class="end">&nbsp;</td>
</tr>
</table>


<input type="submit" class="button" value="NEXT" escape="html" />

</form>

</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->
<tmpl_include name="footer.tmpl">