<tmpl_include name="header_project.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_project.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>PROJECTS: <a href="home.pl?mode=project;pid=<tmpl_var name="pid">"><tmpl_var name="project"></a><br />
<span class="hide">PROJECTS:</span> &#62;  View <span style="text-transform: capitalize;"><tmpl_var name="type"></span><br />
<span class="hide">PROJECTS:</span> &#62; #<tmpl_var name="iid"> <tmpl_var name="title"><br />
<span class="hide">PROJECTS: &#62; </span> 
<a class="actionbutton" href="home.pl?mode=delete_item;iid=<tmpl_var name="iid">">delete <tmpl_var name="type"></a>
</h1>

<br />

<form action="home.pl" method="POST">
<input type="hidden" name="mode" value="update_item" />
<input type="hidden" name="iid" value="<tmpl_var name="iid">" />

<table cellpadding="0" cellspacing="0" class="pmtform">
<tr class="screenshow">
<!-- ## Submit button --><td colspan="2" class="firstcell" align="center"><input type="submit" class="button" value="UPDATE <tmpl_var name="type">" /></td>
</tr>
<tr>
<th class="firstcell">
<select class="small" name="type">
<tmpl_if name="bug">
<option value="bug" selected>bug</option>
<option value="action item">action item</option>
<tmpl_else>
<option value="action item" selected>action item</option>
<option value="bug">bug</option>
</tmpl_if>
</select>
</th>
<td class="<tmpl_var name="type">">#<tmpl_var name="iid">
<input type="text" class="textform"size="40" name="title" value="<tmpl_var name="title">" /></td></tr>
<tr>
<th class="firstcell">project:</th>
<td><a href="home.pl?mode=project;pid=<tmpl_var name="pid">"><tmpl_var name="project"></a></td></tr>
<tr>
<th class="firstcell">milestone:</th>
<td>
<select class="big" name="mid">
<tmpl_loop name="milestone_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select>
</td></tr>
<tr>
<th class="firstcell">status:</th>
<td>
<select class="xmedium" name="status">
<tmpl_loop name="status_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select>
</td></tr>
<tr>
<th class="firstcell">priority:</th>
<td class="pr<tmpl_var name="priority">"><select class="small" name="priority">
<tmpl_loop name="priority_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select></td></tr>
<tr>
<th class="firstcell">target date:<br />(YYYY-MM-DD)</th>
<!-- <input type="text" class="textform"name="target_date" size="15"
value="<tmpl_var name="target_date">" onclick="getCalN(this,2)"/> -->
<td><input type="text" id="datebox" class="textform" name="target_date" size="15"
value="<tmpl_var name="target_date">" onclick="javascript:NewCal('datebox','yyyymmdd')" />
<a  href="javascript:NewCal('datebox','yyyymmdd')"><i>select new date</i></a>
</td></tr>
<tr>
<th class="firstcell">estimated time:</th>
<td><input type="text" class="textform"name="estimated_time" value="<tmpl_var
name="estimated_time" escape="html">" size="15" /></td></tr>
<tmpl_if name="can_resolve">
<tr>
<th class="firstcell" width="120">resolve time:</th>
<td><input class="textform" type="text" name="resolve_time" size="15" /></td>
</tr>
</tmpl_if>
<tr>
<th class="firstcell">assigned to:</th>
<td><select class="big" name="assigned_to">
<tmpl_loop name="assigned_to_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select></td></tr>
<tr>
<th class="firstcell">owner:</th>
<td><select class="big" name="owner">
<tmpl_loop name="owner_select"><tmpl_include name="options_loop.tmpl"></tmpl_loop>
</select></td></tr>
<tmpl_if name="clients">
<tr>
<th class="firstcell">clients:</th>
<td>
<tmpl_loop name="clients"><tmpl_var name="firstname" escape="html">
<tmpl_var name="lastname" escape="html"><tmpl_unless __LAST__>, </tmpl_unless></tmpl_loop>
</td></tr>
</tmpl_if>
<tr>
<th class="firstcell">last modified:</th>
<td><tmpl_var name="last_mod"></td></tr>
<tr>
<th class="firstcell">related url:</th>
<td><tmpl_if name="url"><a target="_blank" href="<tmpl_var name="url">"><tmpl_var name="url"></a> (change: </tmpl_if><input 
class="textform" type="text" name="url" size="40" value="<tmpl_var name="url">" /><tmpl_if name="url">)</tmpl_if></td></tr>

<tr>
<th class="firstcell">dependencies:</th>
<td>
<select class="available" style="width: 520px;" name="depends" multiple size="5">
<option  value="">no dependencies</option>
<tmpl_loop name="dependencies_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var name="label" escape="html"></option>
</tmpl_loop>
</select>
</td></tr>
<tr>
<th class="firstcell">description:</th>
<td>
<textarea class="textform" name="description" cols="40" rows="8" wrap="virtual"><tmpl_var name="description"></textarea>

</td></tr>

<tr>
<th class="firstcell">
client(s):</th>
<td>
<tmpl_if name="clients_select">
<select class="activated" name="clients" multiple="multiple" size="5">
<option value="">[no specific client]</option>
<tmpl_loop name="clients_select"><tmpl_include name="options_loop.tmpl"></tmpl_loop>
</select></tmpl_if>
Add a Client by UNI: <input type="text" name="client_uni" size="5"/>
</td>
</tr>

<tr class="screenshow">
<th class="firstcell">comment:</th>
<td><textarea class="textform resizable" name="comment" wrap="virtual"
cols="40" rows="5"></textarea>
height="20" alt="" /></td></tr>
<tr class="screenshow">
<!-- ## Submit button --><td colspan="2" class="firstcell" align="center"><input type="submit" class="button" value="UPDATE <tmpl_var name="type">" /></td>
</tr>

<tr>
<!-- ## Closing row --><td colspan="2" class="end">&nbsp;</td>
</tr>
</table>
</form>


<h2>Add Attachment</h2>
<form action="home.pl" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="add_attachment" />
<input type="hidden" name="iid" value="<tmpl_var name="iid">" />

<table cellpadding="0" cellspacing="0" class="pmtform" style="width: 650px;">
<tr><th class="firstcell">select file:</th><td><input type="file"
name="attachment" /></td></tr>
<tr><th class="firstcell">or enter url:</th><td><input type="text" class="textform" name="url"
value="http://" size="30" /></td></tr>
<tr><th class="firstcell">title:</th><td><input type="text"
class="textform" name="title" size="30" /> (defaults to filename)</td></tr>
<tr><th class="firstcell">description:</th><td>
<textarea wrap="virtual" class="textform resizable" cols="40" rows="8"
name="description"></textarea>
</td>

<tr>
<!-- ## Submit button --><td colspan="2" class="firstcell" align="center"><input type="submit" value="ADD ATTACHMENT" class="button" /></td>
</tr>

<tr>
<!-- ## Closing row --><td colspan="2" class="end">&nbsp;</td>
</tr>

</table>


</form>

<tmpl_if name="attachments">
<h2>Delete Attachments</h2>

<form action="home.pl" method="post">
<input type="hidden" name="mode" value="delete_attachments"/>
<input type="hidden" name="iid" value="<tmpl_var name="iid">"/>

<table cellpadding="0" cellspacing="0" class="itemlisting" style="width: 650px;">
<tr><th class="firstcell">&#160;</th>
<th>attachment:</th>
<th>description:</th>
</tr>
<tmpl_loop name="attachments">
<tr><td class="firstcell"><input type="checkbox" name="del_<tmpl_var name="id" escape="html">" /></td>
<td><a href="home.pl?mode=attachment;attachment_id=<tmpl_var name="id" escape="url">"><tmpl_var
name="title" escape="html"></a> <i>[<tmpl_var name="last_mod" escape="html">]</i>
</td>
<td><tmpl_if name="description"><tmpl_var name="description" escape="html"></tmpl_if>
</td>
</tr>
</tmpl_loop>
<tr><td colspan="3" class="firstcell" align="center"><input type="submit" value="DELETE SELECTED ATTACHMENTS" /></td></tr>
<tr>
<!-- ## Closing row --><td colspan="3" class="end">&nbsp;</td>
</tr>
</table>
</form>
</tmpl_if>



</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
