<tmpl_include name="header_items.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_items.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>ITEMS: My Items<br />
<span class="hide">ITEMS:</span> &#62; Edit Items</h1>

<form action="home.pl" method="post">
<input type="hidden" name="mode" value="update_items" />
<table cellpadding="0" cellspacing="0" class="itemlisting">
<tr>
<th class="firstcell">item:</th>
<th>priority:</th>
<th>status:</th>
<th>assigned to:</th>
<th>target date:</th>
<th>resolve time:</th>
</tr>
<tmpl_loop name="items">
<tr>
<td class="firstcell"><input class="textform" size="30" type="text" name="title_<tmpl_var name="iid" escape="html">"
value="<tmpl_var name="title" escape="html">" /></td>
<td><select class="small" name="priority_<tmpl_var
name="iid" escape="html">">
<tmpl_loop name="priority_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select></td>
<td>
<select class="medium" name="status_<tmpl_var name="iid" escape="html">">
<tmpl_loop name="status_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select>
</td>
<td><select class="xmedium" name="assigned_to_<tmpl_var name="iid" escape="html">">
<tmpl_loop name="assigned_to_select">
<option value="<tmpl_var name="value" escape="html">"<tmpl_if
name="selected"> selected="selected"</tmpl_if>><tmpl_var
name="label" escape="html"></option></tmpl_loop>
</select></td>
<td><input id="target_date_<tmpl_var name="iid" escape="html">" class="textform" size="10" type="text" name="target_date_<tmpl_var name="iid" escape="html">" value="<tmpl_var name="target_date">" onclick="javascript:NewCal('target_date_<tmpl_var name="iid" escape="html">','yyyymmdd')" /></td>
<td><input class="textform" size="10" type="text" name="resolve_time_<tmpl_var name="iid" escape="url">" /></td>
</tr>
</tmpl_loop>
	<tr>
		<!-- ## Submit button --><td colspan="6" class="firstcell" align="center"><input class="button" type="submit" value="UPDATE ITEMS" /></td>
	</tr>
	<tr>
		<!-- ## Closing row --><td colspan="6" class="end">&nbsp;</td>
	</tr>
</table>

</form>




</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
