<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>PMT: <tmpl_var name="page_title"></title>

	<link rel="stylesheet" href="style/main.css" type="text/css" media="screen" />

	<script type="text/javascript" language="javascript" src="scripts/drop_down.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/pc_css_hack.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/browsersniff.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/calendar.js"></script>

	<link rel="stylesheet" href="style/print.css" type="text/css" media="print" />

	<script type="text/javascript" language="javascript" src="widget.js"></script>

    <script type="text/javascript" language="javascript">

function sendIt(fileName) {
  if (fileName != "") {
	document.location.href = fileName
  }   
}

</script>
<script type="text/javascript" language="javascript" src="cal.js"></script>
<script type="text/javascript" language="javascript" src="http://www2.ccnmtl.columbia.edu/js/wz_dragdrop.js"></script>
<script type="text/javascript" language="javascript" src="http://www2.ccnmtl.columbia.edu/js/tablesort/tablesort.js"></script>
<script type="text/javascript" language="javascript">

            function edit_mode() {
                if (document.getElementsByTagName) {
                    document.getElementsByTagName('body')[0].className = "editmode"
                }
            }

            function view_mode() {
                if (document.getElementsByTagName) {
                    document.getElementsByTagName('body')[0].className = "viewmode"
                }
            }
 
</script>


<style type="text/css">
/* just need a couple rules to make the resizer work properly */

textarea {width: 100%;}

.resizer textarea {width: 90%; height: 90%;}

textarea.keywordsbox {width: 30em;}

</style>

<script type="text/javascript" language="javascript">
if (Safaribrowser)
	{
	document.write('<style type="text/css">');
	document.write('.resizer textarea {width: 90%; height: 100px;}');
	document.write('</style>');
	}
</script>

</head>
<body class="viewmode" id="sectionusergroup">






