	<script type="text/javascript" src="js/MochiKit/MochiKit.js"></script>
	<script type="text/javascript" language="javascript" src="js/widget.js"></script>
        <script type="text/javascript" language="javascript">
         function sendIt(fileName) {
           if (fileName != "") {
        	document.location.href = fileName
           }   
         }
        </script>
        <script type="text/javascript" language="javascript" src="cal.js"></script>
        <script type="text/javascript" language="javascript" src="/js/tablesort/tablesort.js"></script>

	<script type="text/javascript" language="javascript" src="scripts/drop_down.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/pc_css_hack.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/browsersniff.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/datepicker.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/calendar.js"></script>
	<script type="text/javascript" language="javascript" src="scripts/pleasewait.js"></script>
        <script type="text/javascript" src="js/hideshow/newhs/hs.js"></script>
        <script type="text/javascript" src="js/resize_textarea/resizable_textareas.js"></script>
