<tmpl_include name="header.tmpl">
<tmpl_include name="menu.tmpl">
<div class="pagecontent">
<b>keyword:</b> <tmpl_var name="keyword"><br />
<table>
<tr>
<th>item</th>
<th>priority</th>
<th>status</th>
<th>project</th>
<th>milestone</th>
<th>target date</th>
<th>last modified</th>
</tr>

<tmpl_loop name="items">
<tr>
<td class="<tmpl_var name="type_class">"><a href="item.pl?iid=<tmpl_var name="iid">"><tmpl_var name="type"># <tmpl_var name="iid">: <tmpl_var name="title"></a></td>
<td class="pr<tmpl_var name="priority">"><tmpl_var name="priority"></td>
<td class="<tmpl_var name="status">"><tmpl_var name="status"> <tmpl_if name="r_status">(<tmpl_var name="r_status">)</tmpl_if></td>
<td><a href="project.pl?pid=<tmpl_var name="pid">"><tmpl_var name="project"></a></td>
<td><a href="home.pl?mode=milestone;mid=<tmpl_var name="mid">"><tmpl_var name="milestone"></a></td>
<td><tmpl_var name="target_date"></td>
<td><tmpl_var name="last_mod"></td>
</tr>
</tmpl_loop>
</table>
</div>
<tmpl_include name="footer.tmpl">
