<!-- ===== LOCAL NAVIGATION ===== -->
<div id="localnavpos">
<div id="localnav">

<h1 id="category">Users/Groups</h1>
<ul>
	<li><a href="home.pl?mode=my_groups">my groups</a></li>
	<li><a href="home.pl?mode=all_groups">all groups</a></li>
	<li><a href="home.pl?mode=users">all users</a></li>
</ul>

<h1>view this user's:</h1>
<ul>
	<li><a href="client_search.pl?contact=<tmpl_var name='user_username'>;status=active">clients</a></li>
	<li><a href="home.pl?mode=total_breakdown;username=<tmpl_var name="user_username">">project breakdown</a></li>
	<li><a href="home.pl?mode=user_plate;username=<tmpl_var name="user_username"
escape="url">">plate</a></li>
	<li><a href="forum_archive.pl?username=<tmpl_var name="user_username">">log entries</a></li>
</ul>

<form>
<h1>utilities</h1>
<ul>
	<li><input id="calbox" type="hidden" /><a href="javascript:ViewNewCal('calbox','yyyymmdd')">calendar</a></li>

	<li>search: <a href="search.pl">items</a></li>
	<li><span class="hide">search:</span> <a href="home.pl?mode=project_search_form">projects</a></li>
	<li><span class="hide">search:</span> <a href="client_search.pl">clients</a></li>
</ul>
</form>

<h1>this user's reports:</h1>
<ul>
	<li><a href="user_weekly_report.pl?username=<tmpl_var name="user_username">">weekly report</a></li>
	<li class="last"><a href="user_history.pl?user=<tmpl_Var
name="user_username">&amp;month=<tmpl_var
name="month">&amp;year=<tmpl_var name="year">">calendar: history</a></li>
	<li class="last">total estimated time assigned: <b><tmpl_var name="total_estimated_time"></b> hr</li>
	<li><a href="user_feed.pl?username=<tmpl_var name="username" escape="url">"><img src="images/xml.gif" width="36" height="14" alt="" border="0" /></a></li>
</ul>

</div>
</div>
<!-- ===== END LOCAL NAVIGATION ===== -->






