<!-- ===== LOCAL NAVIGATION ===== -->
<div id="localnavpos">
<div id="localnav">

<h1 id="category">Users/Groups</h1>
<ul>
	<li><a href="/home.pl?mode=my_groups">my groups</a></li>
	<li><a href="/home.pl?mode=all_groups">all groups</a></li>
	<li><a href="/home.pl?mode=users">all users</a></li>
</ul>

<form>
<h1>utilities</h1>
<ul>
	<li><input id="calbox" type="hidden" /><a href="javascript:ViewNewCal('calbox','yyyymmdd')">calendar</a></li>

	<li>search: <a href="/search.pl">items</a></li>
	<li><span class="hide">search:</span> <a href="/home.pl?mode=project_search_form">projects</a></li>
	<li><span class="hide">search:</span> <a href="/home.pl?mode=client_search_form">clients</a></li>
</ul>
</form>

</div>
</div>
<!-- ===== END LOCAL NAVIGATION ===== -->






