<tmpl_include name="header_reports.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_reports.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>REPORTS: My Reports</h1>


<ul>
<li><a href="/home.pl?mode=active_clients_report&employee=<tmpl_var name="username" escape="url">">my active clients</a></li>
<li><a href="/home.pl?mode=user_weekly_report;username=<tmpl_var name="username"
escape="url">">weekly report</a></li>
<li><a href="/home.pl?mode=user_history;user=<tmpl_Var name="username"
escape="url">">calendar view
of user history</a></li>
<li><a href="/home.pl?mode=total_breakdown">total projects
breakdown</a></li>
<li><a href="/home.pl?mode=user_plate">on my plate</a></li>
<li><a href="/home.pl?mode=yearly_review">yearly review</a></li>
</ul>




</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
