<tmpl_include name="header_items.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_items.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>TAGS: My Tags</h1>
<p>(<a href="home.pl?mode=all_tags">view tags for everyone</a>)</p>
<h1 class="print">Tags for <tmpl_var name="username"></h1>

<p><tmpl_loop name="tags"><a href="home.pl?mode=tag;tag=<tmpl_var
name="tag" escape="url">" class="cloud-level<tmpl_var name="level" escape="url">"><tmpl_var name="tag"
escape="html"></a> | </tmpl_loop>
</p>


<tmpl_unless name="tags"><p>you have no tags</p></tmpl_unless>

</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
