<tmpl_include name="header_reports.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_reports.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>REPORTS:  <tmpl_var name="time_title"> Report for: <a href="/home.pl?mode=project;pid=<tmpl_var
name="pid" escape="url">"><tmpl_var name="name" escape="html"></a><br />
<span class="hide">REPORTS:</span> &#62; for the
<tmpl_var name="time_period">
from <tmpl_var name="start"> to <tmpl_var name="end">
<!--from <tmpl_var name="p_month" escape="html">/<tmpl_var name="p_year" escape="html">
to <tmpl_var name="month" escape="html">/<tmpl_var name="year" escape="html">-->
</h1>


<p>&#60;&#60; <a href="/home.pl?mode=project_months_report;
pid=<tmpl_var name="pid" escape="url">;<tmpl_if name="num_months">num_months=<tmpl_var name="num_months" escape="url">;
</tmpl_if>
<tmpl_var name="prev_options">
">Previous <tmpl_var name="time_period"></a> 
-- 
<a href="/home.pl?mode=project_months_report;
pid=<tmpl_var name="pid" escape="url">;
num_months=<tmpl_var name="num_months" escape="url">;
<tmpl_var name="next_options">
">Next <tmpl_var name="time_period"></a> &#62;&#62;</p>

<p><b>Total time spent on this project for this <tmpl_var name="time_period">:
</b> <tmpl_var name="total_time" escape="html"> hours.</p>

<br />


<tmpl_if name="active_users">
<table cellpadding="0" cellspacing="0" class="itemlisting">
        <tr>
                <th colspan="4" class="milestone">Breakdown:</th>
        </tr>
<tr><th class="firstcell" colspan="2">staff:</th>
<th colspan="2">time spent on project:</th></tr>
<tmpl_loop name="active_users">
<tr><td class="firstcell" colspan="2"><a href="/home.pl?mode=user;username=<tmpl_var name="username"
 escape="url">"><tmpl_var name="fullname" escape="html"></a></td>
<td colspan="2"><tmpl_Var name="hours"
escape="html"></td></tr>
</tmpl_loop>
<tr>
<!-- ## Closing row --><td colspan="4" class="end">&nbsp;</td>
</tr>


<tr>
<!-- ##  DIVIDER --><td colspan="4" class="divider">&nbsp;</td>
</tr>


        <tr>
                <th colspan="4" class="milestone">Individual Times:</th>
        </tr>

<tr><th class="firstcell">time:</th>
<th>item:</th>
<th>completed at:</th>
<th>by:</th></tr>
<tmpl_loop name="individual_times">
<tr><td class="firstcell"><tmpl_var name="actual_time" escape="html"></td>
<td><a href="/item/<tmpl_var name="iid" escape="url">/"><tmpl_var
name="item" escape="html"></a></td>
<td><nobr><tmpl_var name="completed" escape="html"></nobr></td>
<td><a href="/home.pl?mode=user;username=<tmpl_var name="username"
escape="url">"><tmpl_var name="fullname" escape="html"></a></td>
</tr>
</tmpl_loop>

<tr>
<!-- ## Closing row --><td colspan="4" class="end">&nbsp;</td>
</tr>


<tr>
<!-- ##  DIVIDER --><td colspan="4" class="divider">&nbsp;</td>
</tr>


        <tr>
                <th colspan="4" class="milestone">Forum Posts:</th>
        </tr>

<tr><th class="firstcell" colspan="2">title:</th>
<th>posted by:</th>
<th>date posted:</th>
</tr>
<tmpl_if name="posts">
<tmpl_loop name="posts">
<tr><td class="firstcell" colspan="2"><a href="/home.pl?mode=node;nid=<tmpl_var name="nid">"><tmpl_var name="subject"></a></td>
<td><tmpl_var name="author_fullname"></nobr></td>
<td><tmpl_var name="added"></td>
</tr>
</tmpl_loop>
</tmpl_if>

<tr>
<!-- ## Closing row --><td colspan="4" class="end">&nbsp;</td>
</tr>

<tr>
<!-- ##  DIVIDER --><td colspan="4" class="divider">&nbsp;</td>
</tr>





</table>

<br />

<h2>piegraph:</h2>
<img
src="http://www2.ccnmtl.columbia.edu/graph/piegraph.pl?pie_height=20;start_angle=270;<tmpl_loop name="active_users">l=<tmpl_var name="fullname" escape="url">;</tmpl_loop><tmpl_loop name="active_users">s1=<tmpl_var name="hours" escape="url">;</tmpl_loop>color=%23ffcccc"
width="400" height="300" alt="" />


<tmpl_else>
<p>No work was done on this project for the specified <tmpl_var name="time_period">.</p>
</tmpl_if>




</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
