<tmpl_if name="show_title">item	</tmpl_if><tmpl_if 
name="show_priority">priority	</tmpl_if><tmpl_if 
name="show_target_date">target date	</tmpl_if><tmpl_if 
name="show_owner">owner	</tmpl_if><tmpl_if 
name="show_assigned">assigned to	</tmpl_if><tmpl_if 
name="show_url">url	</tmpl_if><tmpl_if 
name="show_project">project	</tmpl_if><tmpl_if 
name="show_milestone">milestone	</tmpl_if><tmpl_if 
name="show_status">status	</tmpl_if><tmpl_if 
name="show_last_mod">last modified	</tmpl_if>
<tmpl_loop name="items"><tmpl_if 
name="show_title"><tmpl_var 
name="title">	</tmpl_if><tmpl_if 
name="show_priority"><tmpl_var 
name="priority">	</tmpl_if><tmpl_if 
name="show_target_date"><tmpl_var 
name="target_date">	</tmpl_if><tmpl_if 
name="show_owner"><tmpl_var 
name="owner">	</tmpl_if><tmpl_if 
name="show_assigned"><tmpl_var 
name="assigned_to">	</tmpl_if><tmpl_if 
name="show_url"><tmpl_var 
name="url">	</tmpl_if><tmpl_if
name="show_project"><tmpl_var 
name="project">	</tmpl_if><tmpl_if 
name="show_milestone"><tmpl_var 
name="milestone">	</tmpl_if><tmpl_if 
name="show_status"><tmpl_var 
name="status">	</tmpl_if><tmpl_if 
name="show_last_mod"><tmpl_var 
name="last_mod">	</tmpl_if>
</tmpl_loop>
