<tmpl_include name="header_tag.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_items.tmpl">
<div class="pagecontent">


<h1>

<a 
title="RSS feed for tag: <tmpl_var name="tag" escape="html">"
href="tag_feed.pl?tag=<tmpl_var name="tag" escape="url">
<tmpl_if name="pid">;pid=<tmpl_var name="pid"></tmpl_if>">
<img class="rss" src="images/rss.png" alt="RSS feed for tag: <tmpl_var name="tag" escape="html">"
border="0" /></a>

<b>tag:</b> <tmpl_var name="tag" escape="html">
</h1>


<tmpl_if name="items">
<h2>

<a 
title="RSS feed for tag: <tmpl_var name="tag" escape="html"> (items only)"
href="tag_feed.pl?tag=<tmpl_var name="tag" escape="url">
<tmpl_if name="pid">;pid=<tmpl_var name="pid"></tmpl_if>;items_only=1">
<img class="rss" src="images/rss.png" alt="RSS feed for tag: <tmpl_var name="tag" escape="html"> (items only)"
border="0" /></a>

items

</h2>
<table>
<tr>
<th>item</th>
<th>priority</th>
<th>status</th>
<th>project</th>
<th>milestone</th>
<th>target date</th>
<th>last modified</th>
</tr>

<tmpl_loop name="items">
<tr>
<td class="<tmpl_var name="type_class">"><a href="item.pl?iid=<tmpl_var name="iid">"><tmpl_var name="type"># <tmpl_var name="iid">: <tmpl_var name="title"></a></td>
<td class="pr<tmpl_var name="priority">"><tmpl_var name="priority_label"></td>
<td class="<tmpl_var name="status">"><tmpl_var name="status"> <tmpl_if name="r_status">(<tmpl_var name="r_status">)</tmpl_if></td>
<td><a href="home.pl?mode=project;pid=<tmpl_var name="pid">"><tmpl_var name="project"></a></td>
<td><a href="home.pl?mode=milestone;mid=<tmpl_var name="mid">"><tmpl_var name="milestone"></a></td>
<td><tmpl_var name="target_date"></td>
<td><tmpl_var name="last_mod"></td>
</tr>
</tmpl_loop>
</table> 
</tmpl_if>

<tmpl_if name="nodes">
<br />
<br />
<h2>

<a 
title="RSS feed for tag: <tmpl_var name="tag" escape="html"> (forum posts only)"
href="tag_feed.pl?tag=<tmpl_var name="tag"
escape="url">
<tmpl_if name="pid">;pid=<tmpl_var name="pid"></tmpl_if>;posts_only=1">
<img class="rss" src="images/rss.png" 
alt="RSS feed for tag: <tmpl_var name="tag" escape="html"> (forum posts only)"
border="0" /></a>

forum posts

</h2>
<table>
<tr>
<th>post</th>
<th>author</th>
<th>date</th>
</tr>

<tmpl_loop name="nodes">
<tr>
<td><a href="home.pl?mode=node;nid=<tmpl_var name="nid">"><tmpl_var
name="subject" escape="html"></a></td>
<td><a href="home.pl?mode=user;username=<tmpl_var name="author"
escape="url">"><tmpl_var name="author_fullname" escape="html"></a></td>
<td><tmpl_var name="added_informal"></td>
</tr>
</tmpl_loop>
</table>
</tmpl_if>


</div>
<tmpl_include name="footer.tmpl">
