<tmpl_include name="header_usergroup.tmpl">
<tmpl_include name="menu_global.tmpl">
<tmpl_include name="menu_local_user.tmpl">

<!-- ===== PAGE MAIN CONTENT ===== -->
<div class="pagecontent">

<h1>USERS/GROUP:  <tmpl_var name="user_fullname"></h1>


<tmpl_if name="group">
<table cellspacing="0" cellpadding="0" class="default">
<tr><th>group</th><td><tmpl_var name="user_fullname"> [<a href="home.pl?mode=group;group=<tmpl_var
name="user_username" escape="url">">edit user list</a>]</td></tr>
<tmpl_if name="users"><tr><th>users</th><td><tmpl_loop name="users"><a
href="home.pl?mode=user;username=<tmpl_var name="username"
escape="url">"><tmpl_Var name="fullname"
escape="html"></a><tmpl_unless __LAST__>,
</tmpl_unless></tmpl_loop></td></tr></tmpl_if>
</table>
<tmpl_else>
<table cellspacing="0" cellpadding="0">
<tr><td valign="top"><tmpl_if name="photo_url"><img src="<tmpl_var name="photo_url"
								      escape="html">"
								      width="<tmpl_var
								      name="photo_width">"
				       height="<tmpl_var
								      name="photo_height">"
								      /></tmpl_if>
</td>
<td>
<table cellspacing="0" cellpadding="0" class="default">
<tr><th>Username:</th><td><tmpl_var name="user_username"></td></tr>
<tr><th>Fullname:</th><td><tmpl_var name="user_fullname"></td></tr>
<tr><th>E-mail:</th><td><tmpl_var name="user_email"></td></tr>
<tr><th>Title:</th><td><tmpl_var name="title"></td></tr>
<tr><th>Phone:</th><td><tmpl_var name="phone"></td></tr>
<tr><th>Office:</th><td><tmpl_var
			   name="room"> <tmpl_var name="building">
			   <tmpl_var name="campus"></td></tr>
<tmpl_if name="status"><tr><th>Status:</th><td><tmpl_var name="user_status" escape="html"></td></tr></tmpl_if>
<tmpl_if name="groups">
<tr><th>Groups:</th><td>
<tmpl_loop name="groups">
<a href="home.pl?mode=group;group=<tmpl_var name='group'
escape="url">"><tmpl_var name="group_name"
escape="html"></a><tmpl_unless __LAST__>, </tmpl_unless>
</tmpl_loop>
</td></tr>
</tmpl_if>

</table>
</td></tr>
<tmpl_if name="bio"><tr><td colspan="2"><tmpl_var name="bio"></td></tr></tmpl_if>

</table>
</tmpl_if>




<tmpl_if name="items">
<table cellpadding="0" cellspacing="0" class="itemlisting">
<tr>
<th class="firstcell">&#160;</th>
<th><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=title">item</a>:</th>
<th><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=priority">priority</a>:</th>
<th><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=status">status</a>:</th>
<th><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=project">project</a>:</th>
<th><nobr><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=target_date">target date</a>:</nobr></th>
<th><nobr><a href="home.pl?mode=user;username=<tmpl_var name="user_username">&amp;sortby=last_mod">last modified</a>:</nobr></th>
</tr>

<tmpl_loop name="items">
<tr>
<td class="firstcell"><tmpl_if name="has_dependencies">D<tmpl_else>&#160;</tmpl_if></td>
<td class="<tmpl_var name="type_class">"><a href="item.pl?iid=<tmpl_var name="iid">">#<tmpl_var name="iid">: <tmpl_var name="title"></a></td>
<td class="pr<tmpl_var name="priority">"><tmpl_var name="priority_label"></td>
<td class="<tmpl_var name="status">"><tmpl_if name="r_status"><tmpl_var
name="r_status"><tmpl_else><tmpl_var name="status" escape="html"></tmpl_if></td>
<td><a href="home.pl?mode=project;pid=<tmpl_var name="pid">"><tmpl_var name="project"></a></td>
<td><tmpl_var name="target_date"></td>
<td><nobr><tmpl_var name="last_mod"></nobr></td>
</tr>
</tmpl_loop>

	<tr>
		<!-- ## Closing row --><td colspan="7" class="end">&nbsp;</td>
	</tr>

</table>
</tmpl_if>




</div>
<!-- ===== END PAGE MAIN CONTENT ===== -->



<tmpl_include name="footer.tmpl">
