<tmpl_include name="header.tmpl">
<tmpl_include name="menu.tmpl">
<div class="pagecontent">
<tmpl_if name="message">
<p class="message"><tmpl_var name="message"></p>
</tmpl_if>

<table cellspacing="0" cellpadding="0">
<tr><td valign="top"><tmpl_if name="user_photo_url"><img src="<tmpl_var name="user_photo_url"
								      escape="html">"
								      /></tmpl_if>
</td>
<td>
<table cellspacing="0" cellpadding="0" class="default">
<tr><th>Username:</th><td><tmpl_var name="username"></td></tr>
<tr><th>Fullname:</th><td><tmpl_var name="fullname"></td></tr>
<tr><th>E-mail:</th><td><tmpl_var name="email"></td></tr>
<tr><th>Title:</th><td><tmpl_var name="user_title"></td></tr>
<tr><th>Phone:</th><td><tmpl_var name="user_phone"></td></tr>
<tr><th>Office:</th><td><tmpl_var
			   name="user_room"> <tmpl_var name="user_building">
			   <tmpl_var name="user_campus"></td></tr>
<tmpl_if name="status"><tr><th>Status:</th><td><tmpl_var name="user_status" escape="html"></td></tr></tmpl_if>
<tmpl_if name="groups">
<tr><th>Groups:</th><td>
<tmpl_loop name="groups">
<a href="home.pl?mode=group;group=<tmpl_var name='group'
escape="url">"><tmpl_var name="group_name"
escape="html"></a><tmpl_unless __LAST__>, </tmpl_unless>
</tmpl_loop>
</td></tr>
</tmpl_if>

</table>

</td></tr>
<tmpl_if name="user_bio"><tr><td colspan="2"><tmpl_var name="user_bio"></td></tr></tmpl_if>

</table>


<form action="home.pl" method="POST">
<fieldset><legend>update user information</legend>
<input type="hidden" name="mode" value="update_user" />
<table>
<tr><th>full name</th><td><input type="text" name="fullname"
value="<tmpl_var name="fullname" escape="html">" size="40" /></td></tr>
<tr><th>email</th><td><input type="text" name="email"
value="<tmpl_var name="email" escape="html">" size="40" /></td></tr>

<tr><th>type</th><td>
<select name="type">
<tmpl_loop name="type_select">
<tmpl_include name="options_loop.tmpl">
</tmpl_loop>
</select>
</td></tr>
<tr><th>title</th><td><input type="text" name="title"
			     value="<tmpl_var name="user_title"
			     escape="html">" size="40" /></td></tr>


<tr><th>phone</th><td><input type="text" name="phone"
			     value="<tmpl_var name="user_phone"
			     escape="html">" size="15" /></td></tr>
<tr><th>campus</th><td><input type="text" name="campus"
			     value="<tmpl_var name="user_campus"
			     escape="html">" size="15" /></td></tr>

<tr><th>building</th><td><input type="text" name="building"
			     value="<tmpl_var name="user_building"
			     escape="html">" size="15" /></td></tr>
<tr><th>room</th><td><input type="text" name="room"
			     value="<tmpl_var name="user_room"
			     escape="html">" size="5" /></td></tr>

<tr><th>bio</th><td><textarea name="bio" rows="10" cols="60"
			      wrap="virtual"><tmpl_var name="user_bio" escape="html"></textarea></td></tr>

<tr><th>photo url</th><td><input type="text" name="photo_url"
			     value="<tmpl_var name="user_photo_url"
			     escape="html">" size="40" /></td></tr>
<tr><th>photo width</th><td><input type="text" name="photo_width"
			     value="<tmpl_var name="user_photo_width"
			     escape="html">" size="3"/></td></tr>
<tr><th>photo height</th><td><input type="text" name="photo_height"
			     value="<tmpl_var name="user_photo_height"
			     escape="html">" size="3" /></td></tr>


<tr><th>change password to</th>
<td><input type="password" name="new_pass" /></td></tr>
<tr><th>verify</th><td><input type="password" name="new_pass2" /></td></tr>
<tr><td colspan="2"><input type="submit" class="button" value="update"
/></td></tr>
</table>
</fieldset>
</form>
</div>
<tmpl_include name="footer.tmpl">

